HOST=localhost
PORT=8000
LOG_LEVEL=debug,log

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

MAIL_HOST=localhost
MAIL_PORT=1025
# для false значения при локальном тестировании MAIL_SECURE нужно оставить пустым
MAIL_SECURE=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=